.dashboard-container {
  margin-top: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1rem;
}

.dashboard-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-content-header-title {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 700;
}

.dashboard-content-header-newTicketButton {
  flex: 1;
  align-self: flex-end;
  max-width: 40px !important;
  height: 40px !important;
}

.dashboard-content-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.dashboard-content-body-subcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

.dashboard-content-body-filtermenu-main {
  flex: 1;
  margin-right: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-content-body-filtermenu {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1rem;
  flex: 1;
  padding: 10px;
}

.dashboard-content-body-content-container {
  flex: 1;
  flex-grow: 4;
}

.dashboard-content-filter-choices {
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 600;
}

.dashboard-content-body-menu {
  text-decoration: none;
  cursor: pointer;
}

.dashboard-content-serchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.dashboard-content-serchbar {
  flex: 1;
  margin-right: 1rem;
}

.dashboard-admin-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
}

.active {
  background-color: #F24328;
  color: #fff;
  border-radius: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dashboard-filter-affectation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.dashboard-filter-affectation-container .dashboard-filter-tag-container {
  flex: 1;
  margin-right: 1rem;
}