.flex1{
    flex: 1;
}
.header-container{
    background-color: #F24329;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}
.header-img-logo-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-img-logo{
    max-width: 80px;
    max-height: 80px;
}
.header-title{
    font-size: 1.8rem;
    flex: 1;
    margin-left: 1rem;
    font-weight: 700;
    color: white;
}
.header-logout-link{
    font-size: 1.2rem;
    color: white;
    margin-left: 1rem;
    cursor: pointer;
}
.header-logout-a{
    background-color: black;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.header-logout-a:hover {
    background-color: rgb(49, 49, 49);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header-logout-img{
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
}
.ticket-preview-container{
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
}
.ticket-preview-subcontainer{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ticket-preview-tag-container{
    flex-grow: 1!important;
    font-weight: 700;
    margin-right: 1rem;
}
.ticket-preview-info-status-container{
    margin-right: 1rem;
    background-color: black;
    padding: 0.7rem;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}
.ticket-preview-info-container{
    flex-grow: 1!important;
    align-self: flex-end!important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end!important;
    align-items: center;
}
.ticket-preview-info-img{
    float: right;
}
.ticket-preview-close-img{
    margin-right: 1rem;
}
.span-button{
    cursor: pointer;
}
.ticket-preview-suject-date-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 4 !important;
}
.ticket-preview-date-container{
    font-style: italic;
    font-size: 0.8rem;
}