.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.login-form{
    border: 0.5px solid #000;
    border-radius: 5px;
    padding: 2rem;
}
.login-form-input{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 200px;
}
.login-form-validate-text{
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 200px!important;
    text-align: center;
    background-color: #000 !important;
    color: #fff;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}
.login-form-validate-text:hover {
    background-color: #fff !important;
    color: #000;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}
.login-form-validate-a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.forget-password-container {
    text-decoration: none;
    color: #414141;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 500;
    text-align: center;
}
.login-first-connection-button{
    width: 100%;
    margin-top: 1rem!important;
    color: #000 !important;
    border: 1px solid #000 !important;
    font-weight: 500!important;
}
.cursor-pointer{
    cursor: pointer;
}
.register-icon {
    width: 15px;
    height: 15px;
}