.newticket-maincontainer{
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newticket-ticket-header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1rem;
}
.flex1{
    flex: 1;
}
.newticket-tag-input-container{
    width: 150px;
}
.newticket-subject-input-container{
    margin-left: 1rem;
    width: 400px;
    flex-grow: 2;
}
.newticket-subject-input{
    width: 100%!important;
}
.newticket-subcontainer{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
}
.newticket-body-input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 94%;
    height: 300px;
    padding: 1rem;
}
.newticket-validate-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.newticket-cancel-button-flex-none{
    align-self: flex-end;
}